services:
  db:
    image: postgres:13.3-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - 5433:5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  backend:
    build: .
    env_file:
      - .env.prod
    ports:
      - 5000:5000
    depends_on:
        db:
          condition: service_healthy


volumes:
  db-data: